%h1 Mathematica Package Discovery
%p While programming in mathematica is a joy, finding packages that are developed outside of Wolfram is a  challenge.  This website is an attempt to simplify package discovery by consolidating github accounts.    Just add your repository to the list and the system will take care of it all.
%h2 Search
%p Search for your needed package here
%h2
%p Add your package here by entering your github username and the repository name.  
=render 'mathematica_packages/form'
